html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  /*background-color: #ebf2fa;*/
}

.form-control {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-control.formInputs {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 20px;
}

.form-control input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-control input[type="password"] {
  margin-bottom: 10px;
  border-top-right-radius: 0;
  border-top-right-radius: 0;
}

.form-control.btn-primary {
  margin-top: 15px;
}

#sign {
  margin-top: 75px;
}
