html,
body {
  height: 100%;
}

body {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.text-center {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

div {
  margin: auto;
}

.form-control {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.form-control.formInputs {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 20px;
}

.form-control input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-control input[type="password"] {
  margin-bottom: 10px;
  border-top-right-radius: 0;
  border-top-right-radius: 0;
}

.form-control.btn-primary {
  margin-top: 15px;
}

.bottom {
  margin-top: 75px;
}

.incorrect {
  color: red;
  float: bottom;
  margin-top: 5px;
}
